@model EBuy.Models.GoodAmount

<h2>@ViewBag.Title</h2>
<h3>Goods amount now: @ViewBag.NowAmount</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div>
        @Html.HiddenFor(model => model.GoodsId)

        <div>
            @Html.LabelFor(model => model.GoodsAmount)
        </div>
        <div>
            @Html.EditorFor(model => model.GoodsAmount)
            @Html.ValidationMessageFor(model => model.GoodsAmount)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Manage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
