@model EBuy.Models.GoodAmount

<h2>@ViewBag.Title</h2>
<h3>Goods amount now: @ViewBag.NowAmount</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div>
        @Html.HiddenFor(model => model.GoodsId)

        <div>
            @Html.LabelFor(model => model.GoodsAmount)
        </div>
        <div>
            @Html.EditorFor(model => model.GoodsAmount)
            @Html.ValidationMessageFor(model => model.GoodsAmount)
        </div>

        <p>
        <ol class="round">
            <li class="one">
                <h5>说明一</h5>
                输入的数量大于0则为补充多少货物，输入的数量小于0则为撤下多少货物。
            </li>
            <li class="two">
                <h5>说明二</h5>
                当补充/撤下后的货物超出系统允许值（小于零或超过上限）时将提示错误。
            </li>
        </ol>
            <input type="submit" value="Save" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Manage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
