@model EBuy.Models.OrderModel

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>OrderModel</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CustomId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomId)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OrderStatus)
    </div>
    <div class="display-field">
        @switch (Model.OrderStatus)
        {
            case 0: <a>未支付</a> break;
            case 1: <a>已支付</a> break;
            case 2: <a>已发货</a> break;
            case 3: <a>已完成</a> break;
            case 4: <a>等待卖家确认取消</a> break;
            case 5: <a>已取消</a> break;
            default: <a>未知的订单状态</a> break;
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.GoodsAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GoodsAmount)
    </div>

    <div class="display-label">
        商品名称
    </div>
    <div class="display-field">
        @ViewBag.GoodsName
    </div>

    <div class="display-label">
        订单金额
    </div>
    <div class="display-field">
        @ViewBag.OrderMoney
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
