@model EBuy.Models.OrderModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrderModel</legend>

        @Html.HiddenFor(model => model.OrderId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomId)
            @Html.ValidationMessageFor(model => model.CustomId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderDate)
            @Html.ValidationMessageFor(model => model.OrderDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
