@model EBuy.Models.LocalPasswordModel

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@Html.Partial("_ChangePasswordPartial")
@*if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}*@

<section id="externalLogins">
    <h3>添加SNS账号</h3>
    @Html.Partial("_AddSNSPartial");
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
