@model EBuy.Models.LocalPasswordModel

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>你已使用 <strong>@User.Identity.Name</strong> 身份登录。</p>

<ol class="round">
    <li class="one">
        <h3>修改密码</h3><br />
        @Html.ActionLink("Change Password", "ChangePassword", "Account")
    </li>
    <li class="two">
        <h3>发布新商品</h3><br />
        @Html.ActionLink("Create New", "Create", "Good")
    </li>
    <li class="three">
        <h3>查看订单</h3><br />
        @Html.ActionLink("View Orders", "Index", "Order")
    </li>
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
