@model EBuy.Models.LocalPasswordModel

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>你已使用 <strong>@User.Identity.Name</strong> 身份登录。</p>

<p>
<ul>
    <li>
        <h3>修改密码</h3><br />
        @Html.ActionLink("Change Password", "ChangePassword", "Account")
    </li>
    <li>
        <h3>发布新商品</h3><br />
        @Html.ActionLink("Create New", "Create", "Good")
    </li>
</ul>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
